    <p>お問い合わせ完了しました。</p>
    <p>以下のとおりに承りました。</p>
    <table>
      <tr>
        <th>氏名</th>
        <td>
          <%= @contact.name %>
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>
          <%= @contact.email %>
        </td>
      </tr>
      <tr>
        <th>本文</th>
        <td>
          <%= @contact.content %>
        </td>
      </tr>
    </table>
